<%- include('../partials/head', { title: 'Listado de películas' })  %> 
	<h2>Listado de películas</h2>
	<ul>
		<% movies.forEach(movie => { %>
		<li>
			<b>Título: </b> <%= movie.getTitleAndRating() %> <br>
			<b>Genero: </b> <%= movie.genre ? movie.genre.name : 'Sin género' %> <br>
			<a href="/movies/<%= movie.id %>">VER DETALLES</a>
			<hr>
		</li>
		<% }) %>
	</ul>
<%- include('../partials/footer')  %> 
